@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

.App {
	text-align: center;
}

body {
	background-color: aliceblue;
}

* {
	font-family: "Open Sans", sans-serif;
}

.over {
	margin-left: 20% !important;
	margin-right: 10% !important;
	margin-top: 10%;
	width: 60%;
	border: 1px solid gray;
}
.card-header {
	background-color: #0888ff;
	color: rgb(238, 237, 237) !important;
}
.card-title {
	font-weight: bolder;
}

.bg-color {
	background-color: #2495ff !important;
}

.bold {
	color: white !important;
	font-size: 2rem;
	font-weight: 700 !important;
}

/* loader */

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-top: 20%;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #2495ff;
	border-color: #2495ff transparent #2495ff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
